*{
  box-sizing: border-box;
}    
body {
  background: url('https://i.pinimg.com/originals/3d/5f/ec/3d5fec685452952d83803092d71bbe87.gif') no-repeat;
  background-position: center center;
  width:100%;
  height: 100%; 
  margin: 0; 
  font-family: 'Segoe UI', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(89, 189, 202);
}
  
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color:lightcoral;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

h1{
    widows: 100%;
    text-align: center;
}

#banner{
    background-color: lightcoral;
    color: white;
    padding: 60px;
    border-bottom: 10px lightpink solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    opacity: 89%;
    margin-top: 0px;
}

form{
    padding:40px;
    display: inline-block;
}

input[type=text], [type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }


  #post > input[type=button], input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 2px;
    border-radius: 4px;
    cursor: pointer;
  }


  #posts{
      padding:40px;
  }

  #posts > button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
  }


  #posts > #comments{
    background-color: lightsteelblue;
    color: white;
    padding: 10px;
    margin-top:20px; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 7px rgb(243, 203, 209) solid;
  }

 
  #login > form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40%;
    background-color: cornsilk;
    opacity: 89%;
  }
 
  #login > #loginu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 150px;
    padding: 10px; 
    box-sizing: border-box;
    border: 2px solid cornsilk;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }


  #signup > form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40%;
    background-color: cornsilk;
    opacity: 89%;
  }